.banner {
  .banner-image {
    background: url(../img/homepage-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    overflow-x: hidden;
    opacity: 0.6;
  }

  .banner-box{
    position: absolute;
    left: 65%;
    top: 45%;

    p {
      background-color: #f5f5f5;
      background: rgba(245,245,245,0.8);
      width: 350px;
      height: 270px;
      border-radius: 5px;
      font-size: 50px;
      line-height: 80px;
      text-align: center;
      padding-top: 30px;

    }

    .banner-box-islander {
      font-family: $special-text;
      font-size: 35px;
      padding-left: 155px;
    }
  }

  // all rules outside of @media queries apply to devices 1201px and above
  @media screen and (max-width: $laptop) {
  //from 993px to 1200px (inclusive)
    .banner-box{
      left: 63%;
      top: 55%;

      p {
        background-color: #f5f5f5;
        background: rgba(245,245,245,0.8);
        width: 300px;
        height: 220px;
        border-radius: 5px;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        padding-top: 25px;

      }

      .banner-box-islander {
        font-family: $special-text;
        font-size: 30px;
        padding-left: 110px;
      }
    }
  }
  @media screen and (max-width: $tablet) {
  //from 769px to 992px (inclusive)
  .banner-box{
    left: 50%;
    margin-left: -150px;
    top: 72%;

    p {
      width: 300px;
      height: 170px;
      font-size: 40px;
      line-height: 45px;
    }

    .banner-box-islander {
      padding-left: 110px;
    }
  }

  }
  @media screen and (max-width: $phone) {
  .banner-box{
    left: 50%;
    margin-left: -110px;
    top: 80%;

    p {
      padding-top: 10px;
      width: 220px;
      height: 120px;
      font-size: 30px;
      line-height: 35px;
    }

    .banner-box-islander {
      padding-left: 90px;
      font-size: 20px;
    }
  }
  }
}
