.banner {
  .banner-image {
    background: url(../img/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: calc(130vh - 130px);
    overflow-x: hidden;
    opacity: 0.8;
  }

  .banner-box {
    position: absolute;
    left: 60%;
    top: 35%;

    p {
      width: 350px;
      height: 300px;
      border-radius: 5px;
      font-size: 80px;
      line-height: 75px;
      text-align: left;
      padding-top: 10px;
      padding-left: 30px;

      .banner-box-islander {
        font-family: $special-text;
        font-size: 70px;
        line-height: 100px;
      }
    }
  }

  // all rules outside of @media queries apply to devices 1201px and above
  @media screen and (max-width: $laptop) {
    //from 993px to 1200px (inclusive)
    .banner-box {
      left: 55%;
      top: 45%;

      p {
        background-size: cover;
        width: 310px;
        height: 250px;
        line-height: 60px;
        font-size: 60px;
        padding-top: 10px;

        .banner-box-islander {
          font-family: $special-text;
          font-size: 50px;
          line-height: 75px;
        }
      }

    }
  }
  @media screen and (max-width: $tablet) {
    //from 769px to 992px (inclusive)

    .banner-image {
      height: calc(110vh - 110px);
    }
    .banner-box {
      left: 25%;
      margin-left: 0px;
      top: 60%;
      background-size: cover;
      background: rgba(255, 255, 255, 0.711);
      padding: 10px;
      border-radius: 10px;

      p {
        height: 190px;
        width: 280px;
        font-size: 45px;
        text-align: center;
        line-height: 40px;
        padding-top: 0;
        padding-left: 0;

        .banner-box-islander {
          font-size: 45px;
        }
      }
    }
  }
  @media screen and (max-width: $phone) {
    .banner-box {
      left: 20%;
      top: 69%;

      p {
        width: 200px;
        height: 150px;
        font-size: 38px;
        line-height: 38px;

        .banner-box-islander {
          font-size: 35px;
          line-height: 55px;
        }
      }
    }
  }
}
