.banner {
  .banner-image {
    background: url(../img/homepage-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    overflow-x: hidden;
    opacity: 0.6;
  }

  .banner-box{
    position: absolute;
    left: 65%;
    top: 45%;

    p {
      background-color: #f5f5f5;
      background: rgba(245,245,245,0.8);
      width: 300px;
      height: 230px;
      border-radius: 5px;
      font-size: 40px;
      line-height: 55px;
      text-align: left;
      padding-top: 10px;
      padding-left: 30px;

      .banner-box-islander {
        font-family: $special-text;
        font-size: 55px;
        line-height: 80px;
      }

    }


  }

  // all rules outside of @media queries apply to devices 1201px and above
  @media screen and (max-width: $laptop) {
  //from 993px to 1200px (inclusive)
    .banner-box{
      left: 63%;
      top: 55%;

      p {
        background-color: #f5f5f5;
        background: rgba(245,245,245,0.8);
        background-size: cover;
        width: 280px;
        height: 200px;
        border-radius: 5px;
        font-size: 35px;
        line-height: 40px;
        text-align: left;
        padding-top: 10px;

      }

      .banner-box-islander {
        font-family: $special-text;
        font-size: 25px;

      }
    }
  }
  @media screen and (max-width: $tablet) {
  //from 769px to 992px (inclusive)
  .banner-box{
    left: 25%;
    margin-left: 0px;
    top: 65%;
    background-size: cover;

    p {
      // width: 100%;
      height: 170px;
      background-image: cover;
      font-size: 30px;
      text-align: center;
      line-height: 35px;
      padding-top: 0px;
      padding-left: 0px;
    }

    .banner-box-islander {
      font-size: 20px;
    }
  }

  }
  @media screen and (max-width: $phone) {
  .banner-box{
    left: 20%;


    p {
      padding-top: 0;
      width: 220px;
      height: 130px;
      font-size: 25px;
      line-height: 35px;

      .banner-box-islander {
        font-size: 35px;
        line-height: 50px;
      }
    }


  }
  }
}
