.pricing-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;

  h1 {
    font-size: 45px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 35px;
  }

  hr {
    border: 0;
    width: 10%;
    background-color:#323232;
    height: 0.5px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    width: 70%;;
    padding-bottom: 35px;
    text-align: center;
  }

  button {
    color: $softblack;
    background-color: $background;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 15px 25px;
    text-decoration: none;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  a {
    color: $softblack;
  }

  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

    a:visited {
      color: $softblack;
    }

    &:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 15px;
      right: -10px;
      transition: 0.5s;
    }

    &:hover{
      padding-right: 27px;
      padding-left:17px;
      background: rgba(0, 0, 0,.2);
    }

    &:hover:after {
      opacity: 1;
      right: 10px;
    }
  }


  @media only screen and (max-width: $laptop) {

  }

  @media only screen and (max-width: $tablet) {
  }

  @media only screen and (max-width: $phone) {
    p {
      font-size: 18px;
      line-height: 24px;
      width: 70%;;
      padding-bottom: 25px;
      text-align: center;
    }
    button {
      margin-bottom: 30px;
      padding: 8px 13px;
      font-size: 16px;

      &:after {
        top: 8px;
        content: none;
      }

      &:hover {
        padding: 8px 13px;
        content: none;
        font-size: 17px;
      }
    }
  }
}
