.why-yoga-container {
  width: 75%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;

  h1{
    font-size: 45px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 45px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 55px;
  }

  hr {
    width: 110%;
    margin: 0 -40px 0 -40px;
  }

  @media only screen and (max-width: $laptop) {
    padding-top: 25px;
    padding-bottom: 40px;

    h1{
      font-size: 40px;
    }

    p {
      line-height: 26px;
    }
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 5px;
    padding-bottom: 35px;

    h1{
      font-size: 35px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }

    hr {
      width: 100%;
      margin: auto;
    }

  }



  @media only screen and (max-width: $phone) {

  }

}
