.section-contact {
  padding-top: 40px;
  padding-bottom: 50px;

  h1 {
    font-size: 45px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 35px;
    text-align: center;
  }

  hr {
    border: 0;
    width: 10%;
    background-color:#323232;
    height: 0.5px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input:focus,
    select:focus {
      outline-style: solid;
      outline-width: thin;
      padding: 2px;
      outline-color: transparent;
      outline-offset: -1px;
    }

    textarea {
      width: 350px;
      height: 210px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
      font-family: 'Cormorant', serif;
      font-size: 20px;
      background-color: transparent;
      padding: 10px;
    }

    textarea:focus {
      outline-style: solid;
      outline-width: thin;
      border-radius: 4px;
      outline-color: transparent;
      box-shadow: 0 10px 35px -8px rgba(0, 0, 0,.7);
      outline-offset: -1px;
    }

    fieldset {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      border: 0;
      justify-content: space-between;
      align-items: center;
      margin: 35px 0;

      #full-name, #email-address {
        border: 0;
        border-bottom: solid 1px #323232;
        font-family: 'Cormorant', serif;
        font-size: 20px;
        background: none;
        margin-bottom: 50px;
        padding-right: 120px;
      }

      img {
        width: 30px;
        margin-right: 10px;
        margin-bottom: -7px;
      }

      .yoga-type {
        font-size: 20px;
      }

      #yoga-type {
        border-radius: 7px;
        border: solid 1px #323232;
        padding: 3px;
        font-family: 'Cormorant', serif;
        font-size: 18px;
        margin-top: 12px;
      }


      .contact-col-1 {
        display: flex;
        flex-direction: column;
      }

      .contact-col-2 {
        display: flex;
        flex-direction: column;
      }
    }

    .submit-button {
      margin-top: 30px;
      margin-bottom: 80px;
      padding: 15px 25px;
      text-decoration: none;
      font-family: 'Cormorant', serif;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:hover{
        font-weight: bold;
        box-shadow: 0 10px 35px -8px rgba(0, 0, 0,.7);
      }
    }
  }
}
