.section-contact {
  padding-top: 20px;
  padding-bottom: 50px;

  h1 {
    font-size: 45px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 35px;
    text-align: center;
  }

  hr {
    border: 0;
    width: 10%;
    background-color: $softblack;
    height: 0.5px;
    margin: auto;
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    input:focus,
    select:focus {
      outline-style: solid;
      outline-width: thin;
      padding: 2px;
      outline-color: transparent;
      outline-offset: -1px;
    }

    textarea {
      width: 360px;
      height: 240px;
      color: $softblack;
      background-color: $background;
      margin-top: 20px;
      margin-bottom: 60px;
      padding: 15px 25px;
      text-decoration: none;
      font-family: $body-font;
      font-size: 20px;
      border: solid 1px rgba(0, 0, 0,.5);
      border-radius: 10px;
      padding: 10px;
    }

    textarea:focus {
      outline-style: solid;
      outline-width: thin;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      outline-color: $softblack;
      outline-offset: -1px;
    }

    fieldset {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 120px;
      border: none;

      #full-name, #email-address {
        border: 0;
        border-bottom: solid 1px $softblack;
        font-family: $body-font;
        font-size: 20px;
        background: none;
        margin-bottom: 50px;
        padding-right: 120px;
      }

      img {
        width: 30px;
        margin-right: 10px;
        margin-bottom: -7px;
      }

      .yoga-type {
        font-size: 20px;
      }

      #yoga-type {
        border-radius: 7px;
        border: solid 1px $softblack;
        padding: 7px;
        font-family: $body-font;
        font-size: 18px;
        margin-top: 12px;
        color: $softblack;
      }

      .contact-col-1 {
        display: flex;
        flex-direction: column;
      }

      .contact-col-2 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
      }
    }

    .submit-button {
        color: $softblack;
        background-color: $background;
        padding:10px 25px;
        text-decoration: none;
        font-family: $body-font;
        font-size: 16px;
        border: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
        -moz-box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
        -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;


      &:hover{
        background: rgba(0, 0, 0,.1);
      }

      &:hover:after {
        opacity: .5;
      }
    }
  }

  @media only screen and (max-width: $laptop) {
  }

  @media only screen and (max-width: $tablet) {
    hr {
      margin-bottom: 30px;
    }

      form {
        textarea {
          width: 340px;
          height: 180px;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: none;
        }

        fieldset {

          #full-name, #email-address {
            border-radius: 7px;
            border: solid 1px $softblack;
            padding: 5px;
            font-size: 18px;
            width: 80%;
          }

          .contact-icon {
            width: 10%;
            margin-bottom: -4px;
          }

          #yoga-type {
            width: 95%;
            margin-bottom: -130px;
          }

          .contact-col-1 {
            padding-left: 15px;
          }
        }
        .submit-button {
          margin-top: -25px;
          padding: 10px 20px;
        }
      }
  }

  @media only screen and (max-width: $phone) {
    form {
      textarea {
        width: 270px;
        height: 160px;
      }
      fieldset {

        #full-name, #email-address {
          // margin-bottom: 30px;
          // padding-right: 20px;
          // font-size: 18px;

        }

        .contact-icon {
          // width: 22px;
        }

        #yoga-type {
          // margin-bottom: -20px;
          // width: 270px;
        }
      }
      .submit-button {
        margin-top: -25px;
      }
    }
  }
}
