footer {
  margin: auto 0;
  background: rgba(71, 86, 47, 0.5);
  color: #f5f5f5;

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-bottom: 10px;

    .business-logo-white, .copyright, .social-icons {
      width: 100%;
    }

    .copyright {
      text-align: center;
      font-size: 24px;
    }

    img {
      width: 150px;
      margin-top: -23px;
      margin-left: 15px;
    }

    .social-icons {
      display: flex;
      justify-content: end;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding-right: 35px;

      i {
        font-size: 30px;
        color: #f5f5f5;
        padding: 0 15px;
        transition: 0.3;

        &:hover {
          color: $pink;
        }
      }
    }
  }

  @media only screen and (max-width: $laptop) {
    margin-top: 0;
    .footer-container {

      .copyright {
        font-size: 20px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    .footer-container {
      img {
        margin-top: -15px;
        width: 110px;
      }

      .copyright {
        font-size: 15px;
      }

      ul {
        padding-right: 35px;

        i {
          font-size: 25px;
          padding: 0 5px;
        }
      }
    }
  }

  @media only screen and (max-width: $phone) {
    margin-top: 10px;
    .footer-container {
      img {
        margin-top: -10px;
        width: 90px;
      }

      ul {
        padding-right: 25px;

        i {
          font-size: 20px;
        }
      }
    }
  }
}
