.navbar {
  align-items: center;
  display: flex;
  gap: 150px;
  height: 100px;
  justify-content: space-between;
  margin: 0;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    height: 35px;
    margin-right: 55px;
    width: 35px;
    z-index: 2; /* Ensure the hamburger icon appears above the navbar */
  }

  img {
    padding-top: 20px;
    width: 160px;
  }

  .pages-navbar {
    display: flex;
    flex-grow: 1;
    font-size: 23px;
    justify-content: space-between;

    a {
      color: #323232;

      &:hover {
        color: gray;
        text-decoration: underline;
        text-underline-position: under
      }
    }
  }

    .social-icons {
      display: flex;
      justify-content: space-between;
      width: 190px;
      padding-right: 50px;

      i {
        color: #47562F;
        font-size: 35px;

        &:hover {
          color: rgba(71, 86, 47, 0.5);
        }
      }
    }

  @media only screen and (max-width: $laptop) {
    button {
      display: block;
    }

    .pages-navbar {
      background: rgba(245,245,245,0.6);
      flex-direction: column;
      font-size: 1.6rem;
      line-height: 45px;
      padding-right: 0;
      border-radius: 5px;
      position: absolute;
      right: 0;
      text-align: end;
      top: 100px;
      width: max-content;
      z-index: 1; /* Ensure it appears above other elements */

      &.mobile-hidden {
        display: none;
      }

      a {
        padding: 0 50px 0 20px; /* Add padding for better spacing */
        width: 100%;
      }
    }

    .social-icons {
      display: none;
    }
  }

  @media only screen and (max-width: $tablet) {
    img {
      padding-top: 20px;
      width: 140px;
    }

    .pages-navbar {
      font-size: 1.2rem;
      line-height: 30px;

    }
  }

  @media only screen and (max-width: $phone) {
    img {
      padding-top: 10px;
      width: 120px;
    }

    .pages-navbar {
      font-size: 1rem;
      line-height: 30px;

    }
  }
}
