// Colours
$background: #f5f5f5;
$green: #47562F;
$pink: #F3E7EB;
$softblack: #323232;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Island+Moments&display=swap');

$body-font: 'Cormorant', serif;
$special-text: 'Island Moments', cursive;

// breakpoints
$phone: 320px;
$tablet: 768px;
$laptop: 1024px;

// Spacing
// $padding: 0.5rem 1rem;
