.harvest-retreat-banner {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(71, 86, 47, 0.5);
  margin-top: 90px;

  .harvest-banner-text {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 45px;
      line-height: 55px;
      text-align: center;
      padding-bottom: 40px;
      color: $background;
    }

    button {
      color: $softblack;
      margin: 20px 10px;
      padding: 12px 22px;
      text-decoration: none;
      font-family: $body-font;
      font-size: 24px;
      background-color: $background;
      border: none;
      border-radius: 10px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        font-size: 25px;
        background: rgba(0, 0, 0, 0.2);
      }

      &:hover:after {
        opacity: 1;
        right: 10px;
      }
    }
  }

  .flyer {
    img {
      border-radius: 7px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
      width: 400px;
    }
  }

  @media only screen and (max-width: $laptop) {

  .harvest-banner-text {
    width: 350px;


    h2 {
      font-size: 40px;
      line-height: 50px;
    }

    button {
      font-size: 22px;
    }
  }

  .flyer {
    img {
      border-radius: 7px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
      width: 350px;
    }
  }
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
  
    .harvest-banner-text {
  
      h2 {
        display: none;

      }
  
      button {
        display: none;;
      }
    }
  
    .flyer {
      img {
        width: 350px;
      }
    }
  }

  @media only screen and (max-width: $phone) {
    padding-top: 40px;
    padding-bottom: 40px;


    .flyer {
      img {
        width: 300px;
      }
    }
  }
}
