.what-is-retreat {
  padding-top: 60px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65%;
  margin: auto;

  h2 {
    font-size: 40px;
    padding-bottom: 50px;
  }

  p {
    font-size: 24px;
    line-height: 40px;
  }

  @media only screen and (max-width: $laptop) {
    h2 {
      font-size: 35px;
      padding-bottom: 50px;
    }

    p {
      font-size: 22px;
      line-height: 40px;
    }
  }

  @media only screen and (max-width: $tablet) {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
      line-height: 38px;
    }
  }

  @media only screen and (max-width: $phone) {
    h2 {
      font-size: 28px;
    }
  }
}

.retreat-green-container {
  background: rgba(71, 86, 47, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;

  .retreat-column-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 40px;
    width: 80%;
    padding: 0;

    .column-section {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding-top: 40px;
      padding-bottom: 30px;
      width: 80%;

      h2 {
        font-size: 35px;
        padding-bottom: 15px;
      }

      hr {
        border: 0;
        width: 10%;
        background-color: #323232;
        height: 0.5px;
      }

      p {
        font-size: 22px;
        line-height: 35px;
        padding-top: 35px;
      }
    }

    .local {
      border-right: 0.8px solid $softblack;
      padding-right: 40px;
      width: 100%;
    }

    .community {
      border-left: 0.8px solid $softblack;
      padding-left: 40px;
      width: 100%;
    }
  }

  .say-yes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;

    h2 {
      color: $background;
      font-size: 30px;
      padding-top: 20px;
    }

    .say-yes-button {
      color: $softblack;
      margin: 30px 10px;
      padding: 12px 22px;
      text-decoration: none;
      font-family: $body-font;
      font-size: 20px;
      background-color: $background;
      border: none;
      border-radius: 10px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        font-size: 21px;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  @media only screen and (max-width: $laptop) {
    .retreat-column-info {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
      gap: 40px;
      width: 85%;
      padding: 0;

      .column-section {
        padding-top: 30px;
        padding-top: 40px;
        padding-bottom: 30px;
        width: 80%;

        h2 {
          font-size: 30px;
        }

        hr {
          width: 15%;
        }

        p {
          font-size: 20px;
          line-height: 32px;
          padding-top: 30px;
        }
      }
    }

    .say-yes-container {
      h2 {
        font-size: 28px;
        padding-top: 10px;
      }

      .say-yes-button {
        margin: 25px 10px;
        padding: 10px 20px;
        font-size: 18px;

        &:hover {
          font-size: 19px;
        }
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    margin: auto;
    .retreat-column-info {
      display: inline;
      text-align: center;
      margin: auto;

      .column-section {
        padding-top: 30px;
        padding-bottom: 0px;
        width: 80%;
        text-align: center;
        margin: auto;

        h2 {
          font-size: 30px;
          padding-bottom: 25px;
          padding-top: 10px;
        }

        hr {
          width: 10%;
        }

        p {
          line-height: 35px;
          padding-top: 15px;
        }
      }

      .local {
        border-right: none;
        padding-right: 0;
      }

      .community {
        border-left: none;
        padding-left: 0;
      }
    }

    .say-yes-container {

      h2 {
        color: $background;
        font-size: 28px;
        padding-top: 15px;
      }

      .say-yes-button {
        font-size: 18px;

        &:hover {
          font-size: 19px;
        }
      }
    }

  }

  @media only screen and (max-width: $phone) {
  }
}
