.pricing-page {
  .pricing-banner {
    background: rgba(71, 86, 47, 0.5);
    padding-top: 70px;
    padding-bottom: 50px;
    margin-top: 10px;

    h1 {
      margin: 0;
      text-align: center;
      font-size: 80px;
      color: $background;
      padding-bottom: 20px;
    }

    hr {
      border: 0;
      width: 10%;
      background-color: $background;
      height: 0.5px;
      margin: auto;
      margin-bottom: 40px;
      margin-top: 0;
    }
  }

  .pricing-container {
    margin: 0;
    padding: 0;
    padding-top: 50px;

    hr {
      width: 80%;
      margin: auto;
      color: $softblack;
    }

    .pricing-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      gap: 120px;
      margin: 80px 35px;

      h1 {
        font-size: 45px;
      }

      hr {
        width: 10%;
        margin-bottom: 40px;
      }

      img {
        width: 300px;
      }

      .pricing-text {
        margin: 0;
        padding: 0;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        line-height: 50px;

        ul {
          padding-left: 50px;
          padding-bottom: 30px;
        }

        ul li {
          padding-bottom: 10px;
        }
      }
    }
  }
}
